name: Ruby tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.1', '3.2', '3.3', '3.4']
        gemfile: [as_7.1, as_7.2, as_8.0, as_8.1]
        channel: [stable]

        include:
          - ruby-version: '3.2'
            gemfile: as_edge
            channel: experimental

          - ruby-version: '3.3'
            gemfile: as_edge
            channel: experimental

          - ruby-version: '3.4'
            gemfile: as_edge
            channel: experimental

          - ruby-version: 'head'
            gemfile: as_7.1
            channel: experimental
          - ruby-version: 'head'
            gemfile: as_7.2
            channel: experimental
          - ruby-version: 'head'
            gemfile: as_8.0
            channel: experimental
          - ruby-version: 'head'
            gemfile: as_8.1
            channel: experimental
          - ruby-version: 'head'
            gemfile: as_edge
            channel: experimental

        exclude:
          - ruby-version: '3.1'
            gemfile: as_8.0
          - ruby-version: '3.1'
            gemfile: as_8.1

          - ruby-version: '3.4'
            gemfile: as_7.0

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake test
